body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9; 
}

.main{
 	margin: 50px auto;
}

.form-group{
	margin: 15px;
}

label{
	margin-bottom: 5px;
}

input,
input::-webkit-input-placeholder {
    font-size: 12px;
    padding: 3px;
}

.form-control {
    height: auto!important;
    padding: 8px 12px !important;
}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	width: 450px;
    padding: 10px 40px;
	background:#d91b1b;
	color: #FFF;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
span.input-group-addon i {
    color: #d91b1b;
    font-size: 17px;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

#ttn h1{
    font-weight: bold;
}

#ttn img{
    float: left;
    width: 39px;
    height: 39px;
    margin: 0 20px 0 13px;
}

#submit {
    margin-top: 35px;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    background: #d91b1b;
    border: 3px solid #fff;
}

#submit:hover {
    color: #d91b1b;
    background: #fff;
}